# project files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# assignment directory to store information about students and assignments during each course period
assignments/**

## core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# other latex files
*.bbl
*.blg
*.gz

# _cache and _files directories obtained by knitting
*_cache/
*_files/

# media directory where mostly media files are stored for assisting the teching
media/

# html files directly inside root and inside presentation/
*.html
presentation/**/*.html

# libs and static directory inside presentation/; probably html
presentation/**/libs
presentation/**/static